<h1>Winter is coming.</h1>
<p>I need to quickly run through all of our Rachio Iro zones, in order to blow them out before the first frost. With the current Rachio app, that's pretty difficult.</p>
<p>This app uses the Rachio API to allow you to simple turn zones on and off at will. It doesn't mess with your schedules, or anything.</p>
<h2>What about security?</h2>
<p>The entire app is open source. We've designed it so your sprinkler control key never comes to our servers; it only stays on your computer and Rachio's.</p>
<h2>Do you like it?</h2>
<p>Contribute to my source code if you can. Or else, you can buy me a cup of coffee:</p>
<p><a href="https://paypal.me/smartperson/5" target="_blank"><img src="/images/buy_coffee.png"/></a></p>