<div class="row marketing">
  <p>
    Winterizinator is a simple app to make it easier to blow out your Rachio Iro-powered sprinkler system at the end of the season.
  </p>
</div>

  <div class="jumbotron">
    <h1>Get Started</h1>
    <p class="lead">
      <form novalidate class="css-form form-inline">
        <div class="form-horizontal">
          <label for="rachioKey"><a href="https://rachio.readme.io/docs/authentication" target="_blank"><ng-md-icon icon="help"></ng-md-icon></a> Rachio Key: </label>
          <input name="rachioKey" ng-model="main.apiKey" />
        </div>
        <a class="btn btn-success" ng-href="#/manage/{{main.apiKey}}">Go</a>
      </form>
    </p>
    <small>Your Rachio API key never reaches our server. We don't want it, anyway.</small>
  </div>
